## Import Packages

In [230]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

## Loading Data

In [231]:
import pandas as pd

train = pd.read_csv("C:/Users/hu612/Desktop/School/sooda/주차수요 예측 ai/dataset/train.csv")
test = pd.read_csv("C:/Users/hu612/Desktop/School/sooda/주차수요 예측 ai/dataset/test.csv")
age_gender = pd.read_csv("C:/Users/hu612/Desktop/School/sooda/주차수요 예측 ai/dataset/age_gender_info.csv")

In [232]:
#Checking data shape
train.shape, test.shape , age_gender.shape

((2952, 15), (1022, 14), (16, 23))

In [233]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [234]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [235]:
age_gender.head()

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013

# Feature Engineering

### 컬럼명 변경

In [236]:
train=train.rename(columns={'도보 10분거리 내 지하철역 수(환승노선 수 반영)':'지하철'})
train=train.rename(columns={'도보 10분거리 내 버스정류장 수':'버스'})
train.columns
test=test.rename(columns={'도보 10분거리 내 지하철역 수(환승노선 수 반영)':'지하철'})
test=test.rename(columns={'도보 10분거리 내 버스정류장 수':'버스'})

### 데이터 확인

In [237]:
train['전용면적']=round(train['전용면적']*0.3025,0) #평수로 변환
train['전용면적']=train['전용면적'].astype(int) #소수점아래가 없으므로 int자료형으로 바꿔주기
test['전용면적']=round(test['전용면적']*0.3025,0) #평수로 변환
test['전용면적']=test['전용면적'].astype(int) #소수점아래가 없으므로 int자료형으로 바꿔주기

In [238]:
#각 단지별 세대수를 모두 더한수와 총 세대수가 다르다. 
#이는 임대 아파트만 전용면적별세대수에 포함시켰기 때문에 다르다.
code=train.groupby(['단지코드'])
code=code.agg({'총세대수':'mean','전용면적별세대수':'sum'}).reset_index()
diff=[]
for i in range(len(code)):
    if code['총세대수'][i]!=code['전용면적별세대수'][i]:
        diff.append(code['단지코드'][i])
print(diff)  
len(diff)

['C1024', 'C1068', 'C1156', 'C1206', 'C1218', 'C1312', 'C1344', 'C1424', 'C1490', 'C1584', 'C1695', 'C1732', 'C1740', 'C1804', 'C1850', 'C1894', 'C1910', 'C1925', 'C1970', 'C2013', 'C2139', 'C2142', 'C2156', 'C2186', 'C2225', 'C2245', 'C2298', 'C2319', 'C2362', 'C2405', 'C2433', 'C2453', 'C2470', 'C2508', 'C2520', 'C2549', 'C2556', 'C2568', 'C2620', 'C2644']

40

In [239]:
#앞서 찾은 다른 세대 확인해봤다.-> 차이가 분양된 세대수 
#차이가 1인 경우 상가일 확률이 높다.
for i in diff:
    code[code['단지코드']==i]

### 지하철 null값 0으로 채워주기

In [240]:
#다른 값을 비교해본 결과 0이 대부분이었고, 같은 지역에 해당하는 지하철의 개수를 평균내보니 0에 가까울 만큼 작은 수치가 나왔다.
#광역시가 아닌 일반 지역의 지하철은 존재하지 않는다 생각하여 0으로 채운다
train['지하철'].fillna(0, inplace=True) 
test['지하철'].fillna(0, inplace=True)

### 임대보증금, 임대료 '-'을 0으로 변경해주기

In [241]:
# 임대보증금의 경우 -가 의미하는 바가 0이라 판단하여 0으로 변경해줌
train.loc[train['임대보증금'] == "-",'임대보증금'] = 0
train.loc[train['임대료'] == "-",'임대료'] = 0
test.loc[test['임대보증금'] == "-",'임대보증금'] = 0
test.loc[test['임대료'] == "-",'임대료'] = 0

### 버스 지하철 결측치 채워주기

In [242]:
train.loc[train['버스'].isnull(),['지하철','버스']] = [0,4]
test.loc[train['버스'].isnull(),['지하철','버스']] = [0,4]

### 필요없는(오류난) 데이터 삭제

In [243]:
#단지코드 등 기입 실수로 데이터 정제 과정에서 매칭 오류 발생 
#오류에 해당하는 열 모두 삭제
a=train[train['단지코드'].isin(['C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988','C2085', 'C1397','C2431', 'C1649','C1036'])].index
b=train[train['단지코드'].isin(['C2335', 'C1327','C2675'])].index

In [244]:
train.drop(a,inplace=True)
test.drop(b,inplace=True)

### 지역별/ 주택유형별 임대보증금 임대료 결측치 채우기

- 경상남도\
   상가 - 97    \
   임대보증금 평균 : nan\
   임대료 평균 : nan
- 대전광역시\
  아파트 - 7 \
  임대보증금 평균 : 23559582.1917\
  임대료 평균 : 173557.8082\
  상가 - 113\
  임대보증금 평균 : nan\
  임대료 평균 : nan
- 강원도\
   상가 - 31\
   임대보증금 평균 : nan\
   임대료 평균 : nan
- 충청남도\
   상가 - 76\
   임대보증금 평균 : nan\
   임대료 평균 : nan
- 부산광역시\
     상가 - 220 \
     임대보증금 평균 : nan\
     임대료 평균 : nan

In [245]:
#대전광역시 아파트 임대료 결측치 7개를 임대료 평균으로 채우기
#이외에는 아파트에 대한 임대료 결측치가 없다.
train.loc[(train['임대건물구분'] == "아파트")&(train['지역']=='대전광역시'),'임대보증금'] = 23559582
train.loc[(train['임대건물구분'] == "아파트")&(train['지역']=='대전광역시'),'임대료'] = 173558

test.loc[(test['임대건물구분'] == "아파트")&(test['지역']=='대전광역시'),'임대보증금'] = 23559582
test.loc[(test['임대건물구분'] == "아파트")&(test['지역']=='대전광역시'),'임대료'] = 173558

In [246]:
#상가 결측치 채운것임
#데이터불러오기
imdae= pd.read_csv('imdae.csv',encoding='cp949') #상가 임대료 외부데이터
imdae.drop(['2020(3)'],axis=1,inplace=True)
imdae

#부산 상가 임대료
busan=imdae[imdae['지역'].str.contains('부산')] 
busan

busan1=round(busan['2020(1)'].sum(),0)
busan2=round(busan['2020(2)'].sum(),0)

busanim=int((busan1+busan2)/2 * 1000)
busanim

#경남 상가 임대료
namdo=imdae[imdae['지역'].str.contains('경남')] 
namdo

namdo1=round(namdo['2020(1)'].sum(),0)
namdo2=round(namdo['2020(2)'].sum(),0)

namdoim=int((namdo1+namdo2)/2 *1000)
namdoim

#제주 상가 임대료
jeju=imdae[imdae['지역'].str.contains('제주')] 
jeju

jeju1=round(jeju['2020(1)'].sum(),0)
jeju2=round(jeju['2020(2)'].sum(),0)

jejuim=int((jeju1+jeju2)/2 *1000)
jejuim

# 대전 상가 임대료
dajun=imdae[imdae['지역'].str.contains('대전')] 
dajun

dajun1=round(dajun['2020(1)'].sum(),0)
dajun2=round(dajun['2020(2)'].sum(),0)

dajunim=int((dajun1+dajun2)/2 * 1000)
dajunim

# 강원도 상가 임대료
kang=imdae[imdae['지역'].str.contains('강원')] 
kang

kang1=round(kang['2020(1)'].sum(),0)
kang2=round(kang['2020(2)'].sum(),0)

kangim=int((kang1+kang2)/2 * 1000)
kangim

# 충청남도 상가 임대료
chung=imdae[imdae['지역'].str.contains('충남')] 
chung

chung1=round(chung['2020(1)'].sum(),0)
chung2=round(chung['2020(2)'].sum(),0)

chungim=int((chung1+chung2)/2 * 1000)
chungim

#울산광역시 상가 임대료
ool=imdae[imdae['지역'].str.contains('울산')] 
ool

ool1=round(ool['2020(1)'].sum(),0)
ool2=round(ool['2020(2)'].sum(),0)

oolim=int((ool1+ool2)/2 * 1000)
oolim

97500

In [247]:
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='강원도'),'임대료'] = kangim
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='부산광역시'),'임대료'] = busanim
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='경상남도'),'임대료'] = namdoim
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='제주특별자치도'),'임대료'] = jejuim
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='충청남도'),'임대료'] = chungim
train.loc[(train['임대건물구분'] == "상가")&(train['지역']=='대전광역시'),'임대료'] = dajunim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='강원도'),'임대료'] = kangim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='부산광역시'),'임대료'] = busanim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='경상남도'),'임대료'] = namdoim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='제주특별자치도'),'임대료'] = jejuim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='충청남도'),'임대료'] = chungim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='대전광역시'),'임대료'] = dajunim
test.loc[(test['임대건물구분'] == "상가")&(test['지역']=='울산광역시'),'임대료'] = oolim

In [248]:
test.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       177
임대료           0
지하철           0
버스            0
단지내주차면수       0
dtype: int64

In [249]:
#test에 존재하는 모든 상가에 대해서도 모두 임대보증금과 임대료가 0이므로 0으로 채워주자.
test.loc[(test['임대건물구분'] == "상가")].isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       177
임대료           0
지하철           0
버스            0
단지내주차면수       0
dtype: int64

In [250]:
test.loc[(test['임대건물구분'] == "상가")].count()

단지코드        177
총세대수        177
임대건물구분      177
지역          177
공급유형        177
전용면적        177
전용면적별세대수    177
공가수         177
자격유형        177
임대보증금         0
임대료         177
지하철         177
버스          177
단지내주차면수     177
dtype: int64

In [251]:
#임대보증금 결측치 채우기
train['임대보증금'].fillna(0, inplace=True)
test['임대보증금'].fillna(0, inplace=True)

In [252]:
test['자격유형'].fillna("A", inplace=True)

### 전처리

In [253]:
#스케일러를 사용해서 각 열의 분포를 비슷하게 만들어줌
a=train[['총세대수','전용면적','전용면적별세대수','공가수','임대보증금','임대료','지하철','버스','단지내주차면수']]
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
standardScaler.fit(a)
a = standardScaler.transform(a)
train[['총세대수','전용면적','전용면적별세대수','공가수','임대보증금','임대료','지하철','버스','단지내주차면수']]=a

In [254]:
#스케일러를 사용해서 각 열의 분포를 비슷하게 만들어줌
b=test[['총세대수','전용면적','전용면적별세대수','공가수','임대보증금','임대료','지하철','버스','단지내주차면수']]
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
standardScaler.fit(b)
b = standardScaler.transform(b)
test[['총세대수','전용면적','전용면적별세대수','공가수','임대보증금','임대료','지하철','버스','단지내주차면수']]=b

In [255]:
#지하철,버스,단지내주차면수,등록차량수
train[['지하철','버스','단지내주차면수','등록차량수','공가수','임대료','임대보증금']]=train[['지하철','버스','단지내주차면수','등록차량수','공가수','임대료','임대보증금']].astype(int)
test[['지하철','버스','단지내주차면수','공가수','임대료','임대보증금']]=test[['지하철','버스','단지내주차면수','공가수','임대료','임대보증금']].astype(int)

In [256]:
train.shape

(2869, 15)

In [257]:
test['등록차량수']=0
test.shape

(1022, 15)

In [258]:
data=pd.concat([train,test])

In [259]:
data_dummy=pd.get_dummies(data)
data_dummy.head()

,총세대수,전용면적,전용면적별세대수,공가수,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수,...,자격유형_F,자격유형_G,자격유형_H,자격유형_I,자격유형_J,자격유형_K,자격유형_L,자격유형_M,자격유형_N,자격유형_O
8,-0.661872,-0.354394,1.300424,0,0,0,0,0,0,205,...,0,0,0,0,0,0,0,0,0,0
9,-0.661872,-0.148302,-0.320415,0,0,0,0,0,0,205,...,0,0,0,0,0,0,0,0,0,0
10,-0.661872,-0.148302,-0.620571,0,0,0,0,0,0,205,...,0,0,0,0,0,0,0,0,0,0
11,-0.661872,0.057791,-0.485501,0,0,0,0,0,0,205,...,0,0,0,0,0,0,0,0,0,0
12,-0.661872,0.057791,-0.628074,0,0,0,0,0,0,205,...,0,0,0,0,0,0,0,0,0,0

In [260]:
data_train=data_dummy.iloc[:2869]
data_test=data_dummy.iloc[2869:]

In [261]:
data_train.shape

(2869, 614)

In [262]:
data_train.to_csv('data_train.csv')
data_test.to_csv('data_test.csv')

### 모델링 - Ridge

In [263]:
print("data_train : ", data_train.shape)
print("data_test : ", data_test.shape)

data_train :  (2869, 614)
data_test :  (1022, 614)

In [264]:
y = data_train['등록차량수']
del data_train['등록차량수']
x = data_train

In [265]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(x,y, random_state = 42)

In [266]:
print("X train shape : ", X_train.shape)
print("y train shape : ", y_train.shape)
print("X val shape : ", X_val.shape)
print("y val shape : ", y_val.shape)

X train shape :  (2151, 613)
y train shape :  (2151,)
X val shape :  (718, 613)
y val shape :  (718,)

In [267]:
from sklearn.linear_model import Ridge

ridge = Ridge().fit(X_train, y_train)

In [268]:
print("Training set accuracy : {:.2f}".format(ridge.score(X_train,y_train)))
print("Test set accuracy : {:.2f}".format(ridge.score(X_val,y_val)))

Training set accuracy : 0.99
Test set accuracy : 0.99

In [269]:
del data_test['등록차량수']
pred = ridge.predict(data_test)

In [270]:
pred.shape

(1022,)

In [272]:
pred = np.round(pred,0).astype('int32')

In [273]:
data={'code':test['단지코드'], 'num':pred}
data=pd.DataFrame(data)

In [274]:
data=data.groupby('code').mean().reset_index()
data

      code          num
0    C1003   248.625000
1    C1006   530.481481
2    C1016   635.500000
3    C1019   430.000000
4    C1030    17.000000
..     ...          ...
145  C2653   728.250000
146  C2675   732.500000
147  C2676   815.891304
148  C2688    35.166667
149  C2691  1236.666667

[150 rows x 2 columns]

In [277]:
num=pd.merge(sample_submission,data,on='code',how='outer')
sample_submission['num']=num['num_y']

In [279]:
submission={'code':sample_submission['code'],'num':round(num['num_y']).astype(int)}
submission=pd.DataFrame(submission)

In [281]:
submission['num'].uniqueque()

array([ 615, 1061,  369,  492, 1020, 1699,  991,  459,  437,  398,  511,
        530,  445,   61,  816,   76,  583,  477,  293,  650,  408,  418,
        451,  391,  101,  290,  478,  479,  773,  234,  590,  210,   64,
        557,  496,  608,  740,  427,  470,  571,  558,  802, 1196,  600,
        663,  618,  508,  703,  624,  171,  722,  358,  552,  407,  602,
        988,  481,  217,  469,  852,  555,  543,  739,  430,  627,  727,
        926,  532,  636,  732,  471,  794,  746, 1160,  403,  436,  380,
        371,  465,  535,  945,  728,  681,  562, 1203, 1023, 1074,  448,
        586,  541,  860,  888, 1044,  656,  990,  475,  812, 1237,  928,
       1115,  932,  145,  279,  637,  867, 1290,  560, 1071,  861,  438,
        677,  249,  790,   35,   17,  -49,  965,  485,  383,  569,  344,
        276,   93,   27,  105,  -13,  324,  364, -166,  298])

In [282]:
submission.to_csv('ridge1-1.csv')